@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root{

    --body:#141414;

    --swiper-slid:#121418;
    --swiper-button:#EDB40C;
    --swiper-pagination:#747474;
    --swiper-pagination--active:#EDB302;
    --navbar-a:#A1A1A1;
    --navbar-a-hover:#f5f5f5;
    --nosotros1:rgba(59, 55, 55, 0.9);
    --nosotros2:rgba(20, 20, 20, 0.9);
    --light-bg:#f5f5f5;

        /* ======Transicion======= */
        --Trans-02: all 0.2 s ease;
        --Trans-03: all 0.3 s ease;
        --Trans-04: all 0.4 s ease;
        --Trans-05: all 0.5 s ease;
}       
body {
  background: var(--body);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
.bee{
    padding: 150px 0;
}
.swiper-slide{
    font-size: 18px;
    background-color: var(--swiper-slid);
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-button-prev::after{
    font-size: 25px;
}
.swiper-button-next::after{
    font-size: 25px;
}
.swiper-button-prev{
    color: var(--swiper-button);
}
.swiper-button-next{
    color: var(--swiper-button);
}
.swiper-pagination-bullet{
    background-color: var(--swiper-pagination);
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: var(--swiper-pagination--active);
    opacity: 1;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: c;
    justify-content: space-between;
    z-index: 1000;
    background-image: url(/imagenes/seccion.jpg);
}
.menu .logo img{
    width: 160px;
}
.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: var(--navbar-a);
    display: block;
}
.menu .navbar ul li a:hover{
    color: var(--navbar-a-hover);
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}
.header-content{
    text-align: right;
    margin-top: 100px;
}
.slider{
    width: 1100px;
}
.enlace{
    display: inline-block;
    color: var(--swiper-button);
    margin-top: 15px;
}
.product img{
    height: 250px;
}
.product-txt{
    margin-top: 25px;
}
.product-txt h4{
    color: var(--swiper-button);
    font-size: 20px;
    margin: 0;
}
.product-txt p{
    color: var(--swiper-pagination);
    font-size: 16px;
    margin: 0;
}
.price{
    color: var(--swiper-button);
}
.nosotros{
    padding: 80px 0;
    background-image: linear-gradient(var(--nosotros1) , var(--nosotros2)), url(/imagenes/seccion.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.nosotros-text{
    color: var(--swiper-pagination);
}

