
/* Reglamernto */
:root{
    /* =========color========= */
    --body-color: rgba(170,177,255,0.3);  
    --navbar: rgba(170,177,255,0.3);  
    --text-color-H2: #165397;
    --text-color-H3: #165397;
    --text-color-H4: #525254;
    --text-color-login: #e9e9eb;

    /* ======Transicion======= */
    --Trans-02: all 0.2 s ease;
    --Trans-03: all 0.3 s ease;
    --Trans-04: all 0.4 s ease;
    --Trans-05: all 0.5 s ease;
}

.contenedorReglamernto
{
    position: absolute;
    top: 35%;
    left: 5%;
    right: 5%;
    z-index: 996;
}
.contenedorReglamernto h3
{
    font-size: 20px;
    color: var(--text-color-H2);
}
.contenedorReglamernto h3:hover
{
    color: var(--text-color-H4);
    transition: 0.5s;
}
.contenedorReglamernto p
{
    font-size: 14px;
    color: var(--text-color-H2);
}

